body {
	background-color: #FaFaFa;
}
#head {
	min-height: 100px;
}
#logo {
	float:left;
	margin: 10px 0;
}
#head #wrapper {
	float: right;
	text-align: right;
}
#user-menu {
	margin: 10px 0;
}
#user-menu ul {
	list-style: none;
}
#user-menu ul li {
	display: inline;
}
#site-search {
}
#main-menu .widget {
	margin-bottom: 1.5em;
	border: 1px solid #DDD;
	background-color: #F6F6F6;
}
#main-menu .widget .body {
	padding: 0;	
}
#main-menu ul {
	margin:0;
	padding: 5px 10px;
	list-style: none;
}
#main-menu ul li {
	display: inline;
}
#main-menu ul li a {
	padding:0 5px;
	font:150% bold;
	text-decoration: none;
}
#main-menu ul li a span {
	line-height: 25px;
}
/* Tab Navigation Start*/
#sub-menu {
}
#sub-menu ul {
	text-align: left;
	border-bottom: 1px solid #DDD;
	list-style-type: none;
	padding: 0 10px 3px 10px;
}
#sub-menu ul li {
	margin: 0 1px;
	display: inline;
}
#sub-menu li.actived a{
	border-bottom: 1px solid #fff;
	background-color: #fff;
	position: relative;
	color: #333;
	text-decoration:none;
	top: 1px;
	padding-top: 4px;
}

#sub-menu ul li a {
	padding: 3px 10px;
	border: 1px solid #DDD;
	background-color: #F6F6F6;
	margin-right: 0px;
	border-bottom: none;
	font-size: 120%;
}

#sub-menu ul a:hover {
background: #fff;
}
/* Tab Navigation End*/

#body {
	min-height: 400px;
	margin-bottom: 1.5em;
}
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.error, .alert, .notice, .success, .info {
	margin: 0;
}
.thumbnail {
	border: 1px solid #DDD;
	padding: 5px;
}
.required {
	font: bold;
	color: 	red;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.widget .head {
	border-bottom: 1px solid #666;
	height: 34px;
	clear: both;
}
.widget .head h1,
.widget .head h2,
.widget .head h3 {
	float: left;
	font-size: 170%;
	line-height: 30px;
	margin-bottom: 0;
}

.tabs{
	float:right;
	font-weight:bold;
}
.tabs a{
	background:inherit;
	border:1px solid #fff;
	color:#777;
	display:block;
	float:left;
	font-size:90%;
	height:24px;
	line-height:22px;
	margin:8px 8px 0 0;
	padding:0 11px 0 11px;
	text-decoration:none;
}
.tabs a:hover{
	background:#fff;
	border:1px solid #777;
	border-bottom-color:#fff;
	line-height:20px;
	margin-top:9px;
}
.tabs a.current{
	background:#fff;
	border:1px solid #777;
	border-bottom-color:#ffffff;
	color:black;
	font-size:120%;
	height:30px;
	line-height:28px;
	margin-top:3px;
	padding:0px 11px 0px 11px;
}